$primary: #1fff5a;
$danger: #fd6060;

$body-bg: black;
$body-color: white;

$decoder-color: #282828;
$decoder-bg-color: #fff;
$decoder-border-color: #dee2e6;

$setting-height: 24px;

$grid-gutter-width: 1rem;